/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E1F2BFF;
    background-alt: #282A3AFF;
    foreground:     #EAF2F1FF;
    selected:       #9DAFD2FF;
    active:         #BAD761FF;
    urgent:         #FF657AFF;
}
