/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #1E2127CC;
    background-alt: #282B316B;
    foreground:     #ABB2BFFF;
    selected:       #4AA5F0CC;
    active:         #98C379CC;
    urgent:         #FF616ECC;
}
